/* The hero image */
.hero-image {
  /* Set a specific height */
  height: 40%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dispensary-info {
  display: flex;
}

.address-info {
  padding-left: 30px;
}
